<!DOCTYPE html>
<html>
  <head>
	  <title>SplitWisely</title>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="menu-collapse">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </nav>

	  <div class="container">
      <div class="flash">
        <p class="notice<%= ' visible' if notice %>"><%= notice %></p>
        <p class="alert<%= ' visible' if alert %>"><%= alert %></p>
      </div>

      <%= yield %>
	  </div>
  </body>
</html>
